extends layout

block content
  h1= title
  p  #{title}
  -
  const results=[];
  <div class="container-fluid">
    <div class="row"> 
      - 0{hammer} 1{large} 2{25.99};
      <div class="col-sm-2">
      </div>
    </div>
  </div>

